<style>
  nav{
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }
  nav a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in;
  }
  nav a:hover{
    color: blue;
  }
  nav a.active{
    color: red;
  }
</style>
<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'" >Hero</a>
  <a routerLink="/bnha" [routerLinkActive]="'active'" >BNHA</a>
  <a [routerLink]="['/bnha-next']" routerLinkActive="active" >BNHA next</a>
  <!--Otros  -->
</nav>
